<!-- <form #form="ngForm" (ngSubmit)="cadastro(form)">

    <p><label>Titulo</label></p>
    <input type="text" name="titulo" ngModel required>

    <p><label>Insira a url da imagem:</label></p>   
    <input type="text" name="img" ngModel required>

    <hr>
    <button type="submit" [disabled]="!form.valid">Enviar</button>
</form> -->

<form [formGroup]="formulario" (submit)="cadastroDriven()">

    <p><label>Titulo</label></p>
    <input type="text" formControlName="titulo">

    <p><label>Insira a url da imagem:</label></p>   
    <input type="text" formControlName="img">

    <hr>
    <button type="submit">Enviar</button>

</form>


<hr>

<h1>{{ titulo  }}</h1>
<img [src]="imagen" alt="">

