<div class="container justify-content-center  mt-5 mb-1" >

  <div class="row justify-content-center mt-2 text-center ">
    <div class="col-6">
        <button class="btn btn-outline-secondary shadow" (click)="deslogar()">Sair</button>
    </div>
  </div>
    <div class="col">
      <div class="row marcador align-items-center">
        <div class="col  text-center">
         <!-- <img class="img-fluid " [src]="imagemHome">  -->
          <app-foto [imagen]="imagemHome"></app-foto>
        </div>
      </div> 
    </div>
  
</div>