<div class=" blue-grey header"></div>

<div class="container">
    <div class="row mt-5 justify-content-center login">
        <div class="col-6">
          <div class="card blue-grey darken-1 z-depth-5 mt-5">
            <div class="card-content white-text">
              <span class="card-title text-center" >{{ title }}</span>
              <form [formGroup]="formulario" (submit)="formAuth()">
                <div class="form-group  mt-2">
                  <label for="exampleInputEmail1">Endereço de email</label>
                  <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email@email.com" formControlName="email">
                  <span class="pink darken-4" *ngIf="formulario.touched && formulario.value.email == ''"> Campo obrigatório </span>
                </div>

                <div class="form-group mt-2">
                  <label for="exampleInputPassword1">Senha</label>
                  <input type="password"  id="exampleInputPassword1" placeholder="Senha" formControlName="password">
                  <span class="pink darken-4" *ngIf="formulario.touched && formulario.value.password == ''"> Campo obrigatório </span>
                </div>
                
                <button type="submit" class="btn btn-secondary text-center btn-block col s12" [disabled]="!formulario.valid">{{ nameButtonForm }}</button>
            </form>
            </div>
            <div class="card-action white-text">
                <span>Ainda não tem conta? <button class="btn btn-secondary text-light " (click)="alterar()">Clique Aqui</button> </span> 
        
            </div>
          </div>
        </div>
      </div>
</div>

