<app-foto></app-foto>





<!-- <h1> {{ title }} </h1>
<img [src]="imagen">
<p>{{ description }}</p>

<hr>

<h1>{{ titleDois }} </h1>
<p>{{ descriptionDois }}</p>
<button (click)="clicando()">Clique aqui</button>

<hr>

<h1>Diretivas</h1>
<div *ngIf="pessoa.idade >= 18">
    <h2>Pessoas maiores de idade</h2>

    <p>{{ pessoa.nome }}</p>
    <p>{{ pessoa.idade }}</p>
    <p>{{ pessoa.altura }}</p>
</div>

<hr>
<h2>Diretiva ngFor</h2>

<div *ngFor="let lucas of meusClientes"> 
    
    <div *ngIf="lucas.idade < 18 ">
        <p>{{lucas.nome}}</p>
        <p>{{lucas.idade}}</p>
    </div>
    
    <hr>
</div> -->

<!-- Mão na Massa
    Utilizando as diretivas ngFor e ngIf exiba no navegador somente os clientes (meusClientes) menores de idade. 
-->
