<div class="container mt-5">
    <h1 class="text-center">Formulario de Atualização</h1>

    <form [formGroup]="updateForm" (submit)="atualizar()">
        <div class="row mt-3">
            <div class="col">
                <label>Informe o Título: </label>
                <input class="form-control" type="text"  placeholder="Informe o Título" formControlName="titulo">
            </div>
        </div>

       <div class="row mt-3">
            <div class="col">
                <label>Informe a URL da imagem: </label>
                <input class="form-control" type="text"  placeholder="http://imagem.com.br" formControlName="url">
            </div>
       </div>

        
       <div class="row mt-3">
            <div class="col">
                <label>Descrição: </label>
                <input class="form-control" type="text"  placeholder="Descrição" formControlName="descricao">
            </div>
       </div>
       

       <div class="row">
            <div class="col">
                <button class="btn btn-primary mt-3" type="submit" >Enviar</button>
            </div>
       </div>        
    </form>
</div>
