<div class="container mt-5 mb-5">
    <!--Card Bootstrap-->
    <div class="row"> <!--Linha-->
        <div class="col-3" *ngFor="let foto of imagens"><!--Colunas-->
            <div class="card shadow" style="margin-left: 5px; width: 18rem;">
              <!--Fotos sendo passada para o componente foto-->
                <app-foto [imagen]="foto.url"></app-foto>
              <!---------------------------------------------->
                <div class="card-body">
                  <h5 class="card-title">{{ foto.titulo }}</h5>
                  <p class="card-text">{{ foto.descricao }}</p>
                  
                  <!-- Botão excluir -->
                  <div class="row">
                    <div class="col">
                      <button class="btn btn-danger btn-block mb-3" (click)="excluir(foto.id)"> Excluir </button>
                    </div>
                  </div>

                  <!--Botão Editar-->
                  <div class="row">
                    <div class="col">
                      <button class="btn btn-success btn-block" [routerLink]="['/update', foto.id]"> Editar </button>
                    </div>
                  </div>
                  
                  
                </div>
              </div>
        </div>
    </div>
</div>